:root {
  --color-gray: #ecf0f3;
  --half-inset-boxShadow: inset -6px -6px 13px #fff,
  6px 6px 13px rgba(0, 0, 0, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}
body {
  transition: all 500ms;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.829);
}
/* ================= Switch =============================== */
main > section:nth-of-type(1) {
  /* align-self: flex-end; */
  position: absolute;
  top: 50px;
  right: 50px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ============================ Calculator ============================= */


.calculator {
  box-shadow: 6px 6px 23px #fff, 6px 6px 13px rgba(0, 0, 0, 0.6);
  border-radius: 28px;
  padding: 26px;
}

.calculator > div:nth-of-type(2) {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(6, 66px);
}
#display {
  grid-column: span 6;
  height: 120px;
  width: 435px;
  box-shadow: inset -6px -6px 13px #fff,
  inset 6px 6px 13px rgba(0, 0, 0, 0.6);
  background-color: var(--color-gray);
  border-radius: 32px;
  border: none;
  color: rgb(26, 25, 25);
  margin: 40px 0 30px 0;
  padding: 20px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
button {
    box-shadow: var(--half-inset-boxShadow);
    background-color: var(--color-gray);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin: 10px;
    font-size: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}
.equals {
    width: 120px;
    border-radius: 42px;
    box-shadow: var(--half-inset-boxShadow);
    background-color: var(--color-gray);
}